<!DOCTYPE html>
<html lang="en" ng-app="lotrApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#"><img class="img-rounded" src="/img/lotr-logo.png" /></a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Analysis</a></li>
            <li><a href="#">Decks</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div ng-controller="MatchController">
        <div class="row">
            <div class="span12">
                <h2>Deck: {{match.deck}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                Spheres:
                <input type="text" ng-repeat="sphere in match.spheres" ng-model="sphere">
                </input>
            </div>
            <div class="span2">
                Heroes:
                <ul class="unstyled" ng-repeat="hero in match.heroes">
                     <li>{{hero}}</li>
                </ul>
            </div>
            <div class="span2 hidden-phone">
                Scenario: {{match.scenario}}
            </div>
            <div class="span2">
                Result:
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-model="match.result" btn-radio="'W'">Win</button>
                    <button type="button" class="btn btn-primary" ng-model="match.result" btn-radio="'L'">Loss</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/ui-bootstrap-tpls-0.3.0.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/MatchController.js"></script>
</body>
</html>